<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>| Contact Me | Sarah Mo's Student Portfolio |</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


  <body>
    <img src= "https://images.nightcafe.studio/jobs/BETmfVhS3a97huK3RdlU/BETmfVhS3a97huK3RdlU-9YitY-cropped_2x-real-esrgan-x4-plus.jpg?tr=w-1600,c-at_max" alt= "banner image">
    <nav>
      <ul> <!-- Contents of Nav Bar -->
        <li><a class="active" href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/myprojects.html">My Projects</a></li>
        <li><a href="/contactme.html">Contact Me</a></li>
        <li style="float:right"> <a href="#menu"><i class="fa fa-bars"></i></a></li>
      </ul>
    </nav>

<!-- THE CONTENT -->
    
    <div class="content">
      <h1 class="centertext">Contact Me</h1>
      <p class="centertext">Fill out this form to email me! I will respond in up to 5 business days :)</p><br>
        <div id="formcontainer"> <!-- is being centered -->
          <div class="center"> <!-- centering text within form -->
            <form action="contactmesubmitted.html", method="POST">

                  <div class="center-horizontal">
                    <div class="container" style="width:150px">
                      <div class="left-vertical">
                        <label for="fname">Name:</label><br><br>
                        <label for="email">Email Address:</label><br><br>
                        <label for="subject">Subject:</label><br><br>
                      </div>
                    </div>
                    <div class="container" style="width:350px">
                      <div class="center-vertical">
                        <input type="text" id="name" name="name" style="width:350px; height:20px;" value=""><br>
                        <input type="email" id="email" name="email" style="width:350px; height:20px;" value=""><br><br>
                        <input type="text" id="subject" name="subject" style="width:350px; height:20px;" value=""><br><br>
                      </div>
                    </div>
                  </div>
    
  
                    
                    <div class="center-vertical">
                      <label for="emessage">Message:</label><br>
                      <textarea id="emessage" name="emessage" style="width:500px; height:100px;"></textarea><br>
      
                      <!-- <label for="files">Attach Files:</label><br> -->
                      <input type="submit" value="Submit">
                    </div>
              
              
            </form> 


            
          </div>
        </div>
    </div>
  </body>


</html>