<!-- <h3>Sign up!</h3>
    <form action="post-user" method="POST">
        <input type="text" id="name-input" name="name"
        placeholder="Your name"> <p></p>
        <input type="email" id="email-input" name="email"
        placeholder="Your email"> <p></p>
        <input type="tel" id="phone-input" name="phone"
        placeholder="Your phone number"> <p></p>
        <input type="text" id="pw-input" name="password"
        placeholder="Enter a password"> <p></p>
        <button type="submit">Sign up</button>
    </form> -->