body {
  margin: 0;
  background-color: #37123C;
}

/* NAV BAR and ABOVE */

img {
  width: 100%;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  /* Ensure nav is above other content */
}

nav ul {
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #3A4F41;
  margin: 0;
  /*B9314F, 37123C */
}

nav li {
  /* orientation of menu = horizontal */
  float: left;
}

nav li a {
  /* for each item in the nav list */
  display: block;
  color: white;
  border-right: 1px solid #37123C;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a :last-child {
  /* for last item in nav list */
  border-right: none;
}

nav li a:hover {
  /* each item in nav changes color when hovered over */
  background: #ddd;
  color: #B9314F;
}

.active {
  /* active item in nav changes color */
  background: #B9314F;
  color: white;
}

/* BELOW NAV BAR */

#contentcontainer {
  z-index: -1;
  width: 100%;
  background-color: white;
}
.content {
  height: 1500px;
  padding-top: 10px;
  background-color: white;
}

.margined {
  margin-left: 8px;
}
/* background-color: #37123C */